/* style.css */

@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg #1d2021;
@define-color main-fg #ebdbb2;
@define-color wb-act-bg #d79921;
@define-color wb-act-fg #282828;
@define-color wb-hvr-bg #fabd2f;
@define-color wb-hvr-fg #282828;
@define-color wb-purple #b16286;

* {
    font-family: "JetBrains Mono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: @main-bg;
    color: @main-fg;;
    border-bottom: 2px solid #3c3836;
}

/* Logo */
#custom-logo {
    padding: 0 16px;
    margin: 0;
    color: #7daea3;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
}

/* Separators */
#custom-sep1,
#custom-sep2,
#custom-sep3,
#custom-sep4,
#custom-sep5,
#custom-sep6,
#custom-sep7,
#custom-sep8 {
    padding: 0 2px;
    margin: 0;
    color: #928F79;
    background-color: transparent;
}

/* Workspaces */
#workspaces {
    background-color: transparent;
    margin: 4px 8px;
    padding: 0;
}

#workspaces button {
    padding: 2px 10px;
    margin: 0 2px;
    background-color: transparent;
    min-width: 0;
}

#workspaces button.active {
    color: #ddc7a1;
    /* background-color: #3c3836; */
}

#workspaces button:hover {
    background-color: #32302f;
    color: #a89984;
}

/* Window title - centered */
#window {
    margin: 0;
    padding: 0 16px;
    color: @main-fg;
    background-color: @main-bg;
    font-weight: 700;
}

/* All right modules - inline */
#cpu,
#memory,
#battery,
#backlight,
#network,
#custom-disk,
#idle_inhibitor,
#wireplumber,
#clock,
#tray {
    padding: 0 8px;
    margin: 0;
    background-color: transparent;
    color: #ddc7a1;
}

#cpu {
    color: #a9b665;
}

#memory {
    color: #d8a657;
}

#backlight {
    color: #e78a4e;
}

#battery {
    color: #89b482;
}

#battery.charging {
    color: #a9b665;
}

#battery.warning:not(.charging) {
    color: #d8a657;
}

#battery.critical:not(.charging) {
    color: #ea6962;
    animation: blink 0.8s ease-in-out infinite alternate;
}

@keyframes blink {
    to {
        color: #c14a4a;
    }
}

#network {
    color: #7daea3;
}

#network.disconnected {
    color: #ea6962;
}

#wireplumber {
    color: #d3869b;
}

#wireplumber.muted {
    color: #665c54;
}

#custom-disk {
    color: #7daea3;
}

#idle_inhibitor {
    color: #7c6f64;
}

#idle_inhibitor.activated {
    color: #d8a657;
}

#clock {
   color: #ddc7a1;;
}

#tray {
    padding: 0 12px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #ea6962;
}

/* Tooltips */
tooltip {
    background-color: #282828;
    border: 1px solid #504945;
    border-radius: 6px;
    color: #ddc7a1;
    padding: 8px;
}

tooltip label {
    color: #ddc7a1;
}
